<div class="container">
    <h1>Group Create Form</h1>
  
    <!-- The variable heroForm is now a reference to the NgForm directive that governs the form as a whole.-->
    <form (ngSubmit)="onSubmit()" #groupForm="ngForm"> 
      <div class="form-group">
        <label for="title"><h4>Title</h4></label>
        <input type="text" class="form-control" id="title" required
        [(ngModel)]="model.title" name="title" #name="ngModel">
        <div [hidden]="name.valid"
        class="alert alert-danger">
        Group title is required
        </div> 
      </div>
  
      <div class="form-group">
        <label for="Description"><h4>Description</h4></label>
        <input type="text" class="form-control" id="Description" required minlength="4" required maxlength="200"
        [(ngModel)]="model.Description" name="Description" #description="ngModel">
        <div [hidden]="description.valid"
        class="alert alert-danger">
        Description is too short
       </div>
      </div>

       <h4>Invites</h4>
      <app-tag-search></app-tag-search>

      
    <button type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid" >Submit</button>
   

  </form>
  </div>
  
  

